{% extends "layout.html" %}
<html>
<head>
<title>Insert Camera Information</title>
</head>
	<body bgcolor="#E6E6FA">
    {% block body %}
    <div id="container">
		<form  id="contact" action="{{ url_for('handle_data') }}" method="post" >
		<h3 style="margin-top: -5px;">Camera Information Form</h3>
    <fieldset>
      <label for="recipient-name">Location</label> 
      <input type="text" name="Location"  placeholder="Location" required>
    </fieldset>
    <fieldset>
      <label for="recipient-name">IP-Address</label> 
      <input type="text" name="ip_address"  placeholder="IP-Address" required>
    </fieldset>
    <fieldset>
      <label for="recipient-name">Name Of Camera</label> 
      <input type="text" name="camera_info"  placeholder="Camera Name" required>
    </fieldset>
    <fieldset>
      <label for="recipient-name">Status</label> 
      <input type="text" name="status"  placeholder="Status" required>
    </fieldset>  
    <fieldset>
      <button name="submit" type="submit"  value="SUBMIT" id="contact-submit">Submit</button>
    </fieldset>
</form>
</div>
{% endblock %}
</body>
</html> 
