{% extends "layout.html" %}
<html>
<html>
<head>
<title>Settings</title>
</head>
<body>
{% block body %}
<form class="form" action="{{ url_for('handle_settings') }}" method="post" id="registrationForm">
<h1 align="left">Advanced Settings:</h1>      
<hr>
<div class="container bootstrap snippet">
<div class="row">
<div class="form-group">                          
<div class="col-xs-3">
<label for="first_name"><h4>Safe</h4><select name="drop1" size="2" id="safe" size="1" multiple="multiple"><br>  
<option value="Blue">Blue</option> 	
<option value="Green">Green</option> 
<option value="Red">Red</option>  
</select>
</label>
</div>
</div>
<div class="form-group">
<div class="col-xs-3">
<label for="first_name"><h4>Unsafe</h4><select name="drop2" size="2" id="safe" size="1" multiple="multiple"><br>  
<option value="Blue">Blue</option> 	
<option value="Green">Green</option> 
<option value="Red">Red</option>
</select>
</label>
</div>
</div>
<div class="form-group">
<div class="col-xs-3">
<label for="first_name"><h4>Weapons</h4><select name="drop3" size="2" id="safe" size="1" multiple="multiple"><br>  
<option value="Blue" >Blue</option> 	
<option value="Green" >Green</option> 
<option value="Red" >Red</option>  
</select>
</label>
</div>
</div>
<div class="form-group">
<div class="col-xs-3">
<label for="first_name"><h4>Smoke/Fire</h4>
<select name="drop4" size="2" id="safe" size="1" multiple="multiple"><br>  
<option value="Blue">Blue</option> 	
<option value="Green">Green</option> 
<option value="Red">Red</option>  
</select>
</label>
</div>
</div>
</div>
<hr>
<div class="form-group">
<div class="col-md-6">
<h2>NOTIFICATION</h2> 
<div class="checkbox">
<label>
	<input type="checkbox" name="fire" value="1" >Notify when fire/smoke</label>
</div>
<div class="checkbox">
<label>
	<input type="checkbox" name="fire" value="2">Notify when unsafe</label>
</div>
<div class="checkbox disabled">
<label>
	<input type="checkbox" name="fire" value="3">Notify when weapons</label>
</div>
<div class="checkbox disabled">
<label>
	<input type="checkbox" name="fire" value="4">None</label>
</div>
</div>
</div>
<div class="form-group">
<div class="col-md-6">
<h2>Grid details..</h2> 
<div class="row">
<div class="col-md-6">
<label>
	<h4>No of Rows:</h4>
</label>
<input type="number" class="form-control" name="rows" /></td>  
</div>
<div class="col-md-6">
<label>
	<h4>No of Columns:</h4>
</label>
<input type="number" class="form-control" name="columns"/>
</td>  
</div>
</div>
<div class="row" align="center">
<label>
	<h4>E-mail:</h4>
<input type="text" class="form-control" name="email">
</div>
</div>
</div>
<hr>
<div class="form-group">
<div class="col-md-6">
<h2>Extra Functionality</h2> 
<div class="col-md-6">
<h4>Detect Age</h4>
<div class="checkbox ">
<label>
	<input type="checkbox" name="age" value="y" >YES</input>
</label>
<label>
	<input type="checkbox" name="age" value="n">NO</input>
</label>
</div>
</div>
<div class="col-md-6">
<h4>Detect Gender</h4>
<div class="checkbox">
<label>
	<input type="checkbox" name="gender" value="y">YES</input>
</label>
<label>
	<input type="checkbox" name="gender" value="n">NO</input>
</label>
</div>
</div>
<div class="col-md-6">
<h4>Detect Colours Of Clothes</h4>
<div class="checkbox">
<label>
	<input type="checkbox" name="color" value="y">YES</input>
</label>
<label>
	<input type="checkbox" name="color" value="n">NO</input>
</label>
</div>
</div>
</div>
</div>
</div>
<hr>               
<br><br>
<p align="center">
<input type="submit" value="Save and Continue.."></p>
</div>
</div>			
</form>
{% endblock %}
</body>	

</html>
