{% extends "layout.html" %}
<html>
<head>
{% block title %}	
<title>Unknownmove-Safe</title>
{% endblock %}
</head>
<body>
{% block body %}	
<div id="container">
<form id="contact" class="text-center border border-dark p-5  animate col-md-4"  action="{{ url_for('movetosafe') }}" method="POST" >		
<h3 style="margin-top: -5px;">Please Enter The Name</h3> 
<fieldset> 
<input type="text" placeholder="Enter name" name="name" required autofocus >
</fieldset>
<fieldset>
<button name="submit" type="submit"  value="SUBMIT" id="contact-submit">Submit</button>
</fieldset>
</form>		
</div>
{% endblock %}
</body>
</html>