{% extends "layout.html" %}
<html>
<head>
{% block title%}  
<title>Unsafe-Uploader</title>
{% endblock %}
</head>
<body bgcolor="#E6E6FA">
  {% block body %}
  <div id="container">
	<form  id="contact" action="/upload_file1" method="post" enctype="multipart/form-data">
    <h3 style="margin-top: -5px;">Unsafe Form</h3>
    <fieldset>
    <label>Name</label>
    <input type="text" class="form-control" name="unsafename"  placeholder="Unsafe Name" required>
    </fieldset>
    <fieldset>
    <label>Image</label>
    <input name="file" type="file" required autofocus >
    </fieldset>
    <fieldset>
    <button name="submit" type="submit"  value="SUBMIT" id="contact-submit">Submit</button>
    </fieldset>
</form>
</div>
{% endblock %}
</body>
</html> 
